In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

### First step: Inspect csv file in file editor

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic['survived'].sum()

In [ ]:
titanic['survived'].mean()

In [ ]:
# Absolute Counts Aggregation
titanic[['sex','survived']].groupby('sex').sum()

In [ ]:
# Absolute Counts Aggregation
titanic[['sex','survived']].groupby('sex').count()

In [ ]:
# Relative Counts Aggregation
titanic[['sex','survived']].groupby('sex').mean()

In [ ]:
# Um 'age' als diskrete Variable verarbeiten zu können, kann man es
# in Klassen einteilen (=diskretisieren)
age = pd.cut(titanic['age'], [0, 18, 80])

In [ ]:
# Nun eine Tabelle, die die bedingte relative Überlebenshäufigkeit 
# nach DREI Merkmalen aufschlüsselt: 'sex', diskretisiertes 'age' und Passagierklasse 'class'  
titanic.pivot_table('survived', ['sex', age], 'class')

In [ ]:
titanic.pivot_table('survived', ['sex', age], 'class')

In [ ]:
titanic.pivot_table('survived', ['sex', age], 'class').plot(kind="bar")

In [ ]:
titanic.pivot_table('survived', index='sex', columns='class').plot(kind="bar")